@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



.logo {
    font-family: "raleway" sans-serif;
    font-size: 18px;
    font-weight: bold;
}
.web {
    color: #4D5AE5;
}
.studio {
    color: #2E2F42;
}

body {
    font-family: "roboto", sans-serif;
    color: #434455;
    font-size: 16px;
}

.menu {
    font-family: "roboto" ;
    font-weight: "medium";
    font-size: 16px;
    color: #2E2F42;
    display: flex;
} 
ul {
    display: inline;
    list-style-type: none;
    gap: 20px;
    justify-content: center;
}

.adres {
    gap: 20px;
    justify-content: center;
    display: flex;
}

.baslik {
    border: 1px solid #2E2F42;
    background-color: #2E2F42;
    

}
.baslik h1{
    color: #FFFFFF;
    font-family: "roboto";
    font-weight: "700";
    font-size: 56px;
    text-align: center;
    line-height: 107%;
}
   
button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-family: "roboto";
    font-weight: "medium";
    font-size: 12px;
    cursor: pointer;
    border: 10px;
    width: 169;
    height: 56;
    border-radius: 4px;
    padding: 16px 32px;
    display: block;
    margin: 0 auto;
}
button:hover {
    background-color: #404BBF;
        color: #FFFFFF;
        font-family: "roboto";
        font-weight: "medium";
        font-size: 12px;
        width: 169;
        height: 56;
}

.ozet {
    display: flex;
    color: #2E2F42;
    font-family: "roboto";
    font-weight: "medium";
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 2%;
}

.ozet p {
    color: #2E2F42;
    font-family: "roboto";
    font-weight: "medium";
    font-size: 16px;

}
.ourteam {
    display: flex;
    background-color: #F4F4FD;
    border: 10px;

}
.ot {
    border: 1px solid #F4F4FD;
    padding: 1400;
    background-color: #F4F4FD;
}
.ourport {
    display: flex;
}
h2 {
    color: #2E2F42;
    font-family: "roboto";
        font-weight: "bold";
        font-size: 36px;
}

.ft {
    background-color: #2E2F42;
}
.foot {
    color: #FFFFFF;
    font-family: "roboto";
    font-weight: "regular";
    font-size: 16px;
    text-align: center;

}
.logo1 {
    font-family: "raleway" sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.web {
    color: #4D5AE5;
}

.studio1 {
    color: #F4F4FD;
}
